@using Microsoft.AspNetCore.Identity
@using OABSystem.Areas.Identity.Data



@inject SignInManager<OABSystemUser> SignInManager
@inject UserManager<OABSystemUser> UserManager
@{
    //Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
       
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-page="/Appointment/create">Book Appointment</a>

                <ul>
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/HealthCareProfessional/index">Mangae HealthCareProfessional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Appointment/index">Mangae Appointment</a>
                        </li>
                    }

                </ul>
            </div>
      
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</div>
   