@page
@model OABSystem.Pages.Appointment.EditModel

@{
    ViewData["Title"] = "Edit Appointment";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.AppointmentId" />
            <div class="form-group">
                <label asp-label-for="Appointment.HealthcareProfessional.Id" class="control-label"></label>
                <input asp-for="Appointment.HealthcareProfessional.Id" class="form-control" />
                <span asp-validation-for="Appointment.HealthcareProfessional.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-label-for="Appointment.AppointmentDateTime" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDateTime" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-label-for="Appointment.PatientName" class="control-label"></label>
                <input asp-for="Appointment.PatientName" class="form-control" />
                <span asp-validation-for="Appointment.PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-label-for="Appointment.PatientContact" class="control-label"></label>
                <input asp-for="Appointment.PatientContact" class="form-control" />
                <span asp-validation-for="Appointment.PatientContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  asp-label-for="Appointment.ReasonForAppointment" class="control-label"></label>
                <input asp-for="Appointment.ReasonForAppointment" class="form-control" />
                <span asp-validation-for="Appointment.ReasonForAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
